{% extends 'admin_base.html' %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Ticket Detail:
        <span class="text-primary">#{{ ticket.ticket_id }}</span>
      </h4>
    </div>
    <div class="card-body">
      <div class="container mt-5">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Ticket Details - #{{ ticket.ticket_id }}</h4>
            <p>
              <strong>Title:</strong>
              {{ticket.title|default:""}}
            </p>
            <p>
              <strong>Description: </strong> {{ticket.description|default:""}}
            </p>
            <p><strong>Subject:</strong> {{ticket.subject|default:""}}</p>
            <p>
              <strong>Created Date:</strong> {{ ticket.created_date|date:"Y-m-d H:i:s" }} VND
            </p>
            <p></p>
            <strong>Order ID:</strong>
            <a href="/system-admin/order/{{ticket.order.order_id}}">
              #{{ ticket.order_id}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
